/* Starting code repeated for each CSS file */
body {
    font-family: sans-serif;
    padding: 0.5% 15% 1% 15%;
    margin: 0.1%;
    width: auto;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 55px;
    padding: 5px;
    margin: 10px auto;
}

/* Changing nav button to show what page you are on */
.nav-button {
    background-color: darkred;
    color: white;
    padding: 6px;
    margin: 1px;
    text-decoration: none;
}

.clicked {
    background-color: green;
}

li {
    color: white;
    padding: 1px;;
}

.list-link{
    color: blue;
    text-decoration: none;
}
/* Start of seperate CSS */
.map {
    width: 60%;
}

img {
    width:330px;
}

.image-box {
    text-align: center;
    background-color: black;
    color: white;
    width: 350px;
    margin: 1% 3% 0.5% 0%;
    padding: 1% 1% 0.5% 1%;
    float: left;
}

.image-box > p {
    padding: 1px;
    margin: 3px;
}

.link {
    text-decoration: none;
    color: blue;
}
